<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>z-j-r</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>user.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Send</servlet-name>
    <servlet-class>order.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Send</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderW</servlet-name>
    <servlet-class>order.Orderservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderW</servlet-name>
    <url-pattern>/orderw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Person</servlet-name>
    <servlet-class>user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Person</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ALL</servlet-name>
    <servlet-class>order.AllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALL</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modify</servlet-name>
    <servlet-class>user.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>user.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Leave</servlet-name>
    <servlet-class>user.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Leave</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>frist.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>regist.html</welcome-file>
    <welcome-file>person.html</welcome-file>
  </welcome-file-list>
</web-app>